body {
    background-color: #1e293b;
    color: #e2e8f0; /* herança (genética) => propriedades que são passadas de pai para filhos */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /* mudar a fonte */
}

h1, h2, h3 {
    color: #16a34a;
}

header {
    background-color: #0f172a;
}

/* 
    color => mudar a cor de qualquer texto
    background-color => muda a cor do fundo de qualquer elemento HTML

    RGB (rgb, rgba, hexadecimal)
    rgb(0, 0, 0) ✔
    
    #RRGGBB
    0 1 2 3 4 5 6 7 8 9 A B C D E F
*/